# Data and outputs
data/
mlflow/mlruns/
mlflow/models/
*.json
*.csv
*.jsonl
*.xlsx
*.parquet

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/settings.json
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# MLflow
mlruns/
mlartifacts/

# Airflow
airflow/logs/
airflow/webserver_config.py